* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #41b883;
}

#global-card {
  display: flex;
  width: 900px;
  height: 1200px;
  margin: 2rem auto;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#global-card #side {
  width: 30%;
  height: 1041px;
  padding: 1.8rem;
  margin-top: 10rem;
  color: #fff;
  background-color: #34495e;
}

#global-card #main {
  width: 70%;
  height: 100vw;
  padding: 4rem 3rem;
}

#side .cercle {
  background-color: #34495e;
  width: 271px;
  height: 270px;
  border-radius: 50%;
  position: relative;
  top: -161px;
  left: -29px;
}

#side .cercle img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  position: relative;
  top: 19px;
  left: 15px;
}

#side .items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: -150px;
  height: 850px;
}

.items h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  letter-spacing: 4px;
}

.items p {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 100;
}

#main .about {
  margin-bottom: 1rem;
}

#main .name {
  font-size: 2rem;
  color: #34495e;
  font-size: 2.5;
  font-family: sans-serif;
  line-height: 2.5rem;
}

#main .poste {
  font-size: 1.5rem;
  color: #41b883;
  font-size: 2.5;
  font-family: sans-serif;
  line-height: 2.5rem;
}

#main .theme {
  line-height: 2rem;
  width: 100%;
  background-color: #41b883;
  margin-bottom: 2rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.3rem 0 0.3rem 2rem;
  z-index: 10;
}

.arrondi {
  width: 40px;
  height: 41px;
  border-radius: 50%;
  background-color: #41b883;
  position: relative;
  top: 40.8px;
  left: -19.9px;
  z-index: 0;
}

.date {
  color: #aaa;
}

.diplome,
.exp {
  color: #41b883;
}

.description-diplome {
  margin-bottom: 1.5rem;
}
